<!-- text -->
<div class='text-center'>
    <h1 class='display-1 mt-5 mb-4'>Hello, world!</h1>
</div>

<!-- signin -->
<div class='w-50 container mt-5'>
  <form action='/user/signin' method='post'>
    <div class="col-auto mb-3">
      <input type="text" name='user_uid' class="form-control" placeholder="아이디" style='height: 65px';>
    </div>
    <div class="col-auto mb-3">
      <input type="password" name='user_password' class="form-control" placeholder="비밀번호" style='height: 65px';>
    </div>
    <div class="col-auto">
      <button type="submit" class="w-100 btn btn-primary btn-lg" style='height: 65px';>로그인</button>
    </div>
  </form>
</div>