<!-- addCard -->
<div class='w-50 container mt-5'>
    <form id='frm' action='/myPage/addCard/<%= sess %>' method='post'>
      <div class="col-auto mb-3">
        <label class="col-form-label">카드 번호</label>
        <input name='card_uid' data-name='카드 번호'type="text" class="form-control" required>
      </div>
      <div class="col-auto mb-3">
        <label class="col-form-label">카드 유효기간</label>
        <input name='card_exp' data-name='카드 유효기간' type="text" class="form-control" required>
      </div>
      <div class="col-auto mb-5">
        <label class="col-form-label">카드 종류</label>
        <input name='card_com' data-name='카드 종류' type="text" class="form-control" required>
      </div>
      <div class="col-auto">
        <button type="submit" class="w-100 btn btn-primary btn-lg" style='height: 65px';>확인</button>
      </div>
    </form>
</div>